<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.example.filter.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.example.filter.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>contextFilter</filter-name>
        <filter-class>com.example.filter.ContextFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>contextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>